:root {
    --primary-color: red;
    --secondary-color: yellow;

    --heading-font: 'Lora', serif;
    --paragraph-front: 'Edu VIC WA NT Hand Precursive', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    background-color: darkred;
    color: var(--secondary-color)
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

h1 {
    font-size: 2rem;
    font-family: var(--heading-font);
}

.navigation {
    display: flex;
    justify-content: space-around;
    font-family: var(--heading-font);
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: flex;
    justify-content: center;
    color: var(--secondary-color);
    padding: 0.5rem;
    margin: -0.14rem;
    text-decoration: none;
}

.navigation a:hover {
    color: darkgoldenrod;
    font-weight: 700;
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    text-align: center;
}

a {
    text-decoration: none;
}

header,
main,
footer {
    max-width: 1500px;
    margin: 0 auto;
    color: var(--secondary-color)
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    align-self: center;
}

.hero h1 {
    position: absolute;
    top: 1em;
    left: 2rem;
    right: 2rem;
    text-align: center;
    padding: .5rem;
    background-color: #ffffff61;
}

.hero article {
    background-color: #ffffff61;
    position: absolute;
    top: 9rem;
    left: 2rem;
    right: 2rem;
    padding: 2rem;
}
main{
    background-color: red;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: darkred;
    margin-top: 100px;
}

.end {
    color: yellow;
}

.sociallinks {
    display: flex;
    gap: 1rem;
}

.sociallinks img {
    width: 2em;
}

.sociallinks a:hover {
    background-color: unset;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: navy;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.form fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
    background-color: red;
    align-items: center;
}

.form label {
    display: block;
    padding-top: 1rem;
    color: yellow;
    font-size: .9rem;
    font-family: var(--paragraph-front);
}

.form div {
    padding-top: 1rem;
    color: yellow;
    font-size: .9rem;
    font-family: var(--paragraph-front);
    
}

input[type="radio"] {
	position: relative;
	caret-color: rgba(0, 0, 0, 0);
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form textarea,
.form select,
.form input[type="date"] {
    background-color: #fff;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
}

.form input[type="radio"],
.form input[type="checkbox"] {
    margin-right: 6px;
}

.form input[type="submit"] {
    border: none;
    background-color: #8a2d3e;;
    color: yellow;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
    align-self: center;
}

.form-items {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}
