:root {
    --primary-color: red;
    --secondary-color: yellow;

    --heading-font: 'Lora', serif;
    --paragraph-front: 'Edu VIC WA NT Hand Precursive', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    background-color: darkred;
    color: var(--secondary-color)
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

h1 {
    font-size: 2rem;
    font-family: var(--heading-font);
}

.navigation {
    display: flex;
    justify-content: space-around;
    font-family: var(--heading-font);
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: flex;
    justify-content: center;
    color: var(--secondary-color);
    padding: 0.5rem;
    margin: -0.14rem;
    text-decoration: none;
}

.navigation a:hover {
    color: #00af9a;
    font-weight: 700;
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    text-align: center;
}

a {
    text-decoration: none;
}

header,
main,
footer {
    max-width: 1500px;
    margin: 0 auto;
    color: var(--secondary-color)
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
}

.hero h1 {
    position: absolute;
    top: 1em;
    left: 2rem;
    right: 2rem;
    text-align: center;
    padding: .5rem;
    background-color: #ffffff61;
}

.hero article {
    background-color: #ffffff61;
    position: absolute;
    top: 9rem;
    left: 2rem;
    right: 2rem;
    padding: 2rem;
}
main{
    background-color: red;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: darkred;
    margin-top: 100px;
}

.end {
    color: yellow;
}

.sociallinks {
    display: flex;
    gap: 1rem;
}

.sociallinks img {
    width: 2em;
}

.sociallinks a:hover {
    background-color: unset;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: navy;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}