:root {
    --primary-color: darkred;
    --secondary-color: yellow;

    --heading-font: 'Lora', serif;
    --paragraph-front: 'Edu VIC WA NT Hand Precursive', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    background-color: darkred;
    color: var(--secondary-color)
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

h1 {
    font-size: 2rem;
    font-family: var(--heading-font);
}

.navigation {
    display: flex;
    justify-content: space-around;
    font-family: var(--heading-font);
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: flex;
    justify-content: center;
    color: var(--secondary-color);
    padding: 0.5rem;
    margin: -0.14rem;
    text-decoration: none;
}

.navigation a:hover {
    color: darkgoldenrod;
    font-weight: 700;
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    text-align: center;
}

a {
    text-decoration: none;
}

header,
main,
footer {
    max-width: 1500px;
    margin: 0 auto;
    color: var(--secondary-color)
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    align-self: center;
}

.hero h1 {
    position: absolute;
    top: 1em;
    left: 2rem;
    right: 2rem;
    text-align: center;
    padding: .5rem;
    background-color: rgba(255, 0, 0, 0.3);
}

.hero article {
    background-color: rgba(255, 0, 0, 0.3);
    position: absolute;
    top: 9rem;
    left: 2rem;
    right: 2rem;
    padding: 2rem;
}
main{
    background-color: var(--primary-color);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: darkred;
    margin-top: 100px;
}

.end {
    color: yellow;
}

.sociallinks {
    display: flex;
    gap: 1rem;
}

.sociallinks img {
    width: 2em;
}

.sociallinks a:hover {
    background-color: unset;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: yellow;
    color: darkred;
    text-decoration: none;
    border-radius: 5px;
}

.form fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
    background-color: #d61d35;
    align-items: center;
}

.form h2 {
    background-color: var(--primary-color);
}

.form label {
    display: block;
    padding-top: 1rem;
    color: yellow;
    font-size: .9rem;
    font-family: var(--paragraph-front);
}

.form div {
    padding-top: 1rem;
    color: yellow;
    font-size: .9rem;
    font-family: var(--paragraph-front);
    background-color: #d61d35;
    
}

input[type="radio"] {
	position: relative;
	caret-color: rgba(0, 0, 0, 0);
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form textarea,
.form select,
.form input[type="date"] {
    background-color: #fff;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
}

.form input[type="radio"],
.form input[type="checkbox"] {
    margin-right: 6px;
    color: black;
}

.form input[type="submit"] {
    border: none;
    background-color: #8a2d3e;;
    color: yellow;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
    align-self: center;
}

.form-items {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

@media screen and (max-width: 600px) {
    .hero img {
        height: auto;
        object-fit: cover;
        position: relative;
    }

    .hero h1,
    .hero article {
        font-size: 1rem;
        padding: 1rem;
        top: auto;
        position: absolute;
        display: block;
    }
    .menu-buttons{
        display: none;
        flex-direction: column;
        background-color: darkred;
        width: 100%;
    }
    .menu-buttons.active{
        display: flex;
    }
    .menuContainer{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.menu-buttons {
  display: inline-block;
  padding: 10px 20px;
  background-color: darkred;
  color: yellow;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.menu-buttons img {
    width: 100%;
    height: 160px;        /* fixed height */
    object-fit: cover;    /* crop & fill */
    display: block;
    border-radius: 12px 12px 0 0;
}

.menuContainer {
  width: 100%;           /* makes the image fill its container */
  height: auto;          /* keeps the aspect ratio */
  object-fit: cover;     /* crops the image if necessary */
  display: block;
  border-radius: 12px;
  margin: 0 auto;
}


.option {
    background-color: darkred;
    color-scheme: yellow;
    font-family: var(--heading-font);
}

.option :hover {
  background-color: darkgoldenrod;
}

