:root {
  --primary: green;
  --secondary: yellow;
  --text: #fff;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: var(--bg);
}

header {
    background: var(--primary);
    color: var(--text);
    text-align: center;
    padding: 1rem;
}

picture img {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
}

main {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    padding: 1rem;
}

section {
    position: absolute;
    background: white;
    border-left: 5px solid var(--secondary);
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.weather-icon::after {
    content: "⛅";
    margin-left: 0.5rem;
}

footer {
    background: var(--primary);
    color: var(--text);
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
}

@media (min-width: 700px) {
    main {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
  }

    .data-card, .weather-card {
        width: 300px;
  }
}
