:root {
  --primary: green;
  --secondary: yellow;
  --text: #fff;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: var(--bg);
}

header {
    background: var(--primary);
    color: var(--text);
    text-align: center;
    padding: 1rem;
}

h2 {
    background-color: var(--secondary);
}

.hero-container {
  position: relative;
}

.hero-container picture img {
  width: 100%;
  height: auto;
  display: block;
}

/* Base card styles */
.data-card, .weather-card {
  background-color: rgba(255, 255, 255, 0.9); /* semi-transparent white */
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  max-width: 250px;
}

/* Default layout (mobile): stacked */
.data-card, .weather-card {
  margin: 1rem auto;
}

/* Wider view overlay layout */
@media (min-width: 700px) {
  .hero-container {
    position: relative;
  }

  .data-card, .weather-card {
    position: absolute;
  }

  .data-card {
    top: 20%;
    left: 5%;
  }

  .weather-card {
    top: 20%;
    right: 5%;
  }
}


footer {
    background: var(--primary);
    color: var(--text);
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
}